<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MentorMatch Complete Automation Suite" verbose="1" parallel="true">
    <listeners>
        <listener class-name="com.mentormatch.automation.listeners.TestListener"/>
        <listener class-name="com.mentormatch.automation.listeners.RetryAnnotationTransformer"/>
    </listeners>

    <test name="Smoke Suite">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.mentormatch.automation.tests.AuthTests"/>
            <class name="com.mentormatch.automation.tests.DashboardTests"/>
            <class name="com.mentormatch.automation.tests.ProfileTests"/>
            <class name="com.mentormatch.automation.tests.MentorTests"/>
            <class name="com.mentormatch.automation.tests.SessionTests"/>
            <class name="com.mentormatch.automation.tests.NotificationTests"/>
            <class name="com.mentormatch.automation.tests.ReviewTests"/>
            <class name="com.mentormatch.automation.tests.AdminTests"/>
        </classes>
    </test>

    <test name="Sanity Suite">
        <groups>
            <run>
                <include name="sanity"/>
            </run>
        </groups>
        <classes>
            <class name="com.mentormatch.automation.tests.AuthTests"/>
            <class name="com.mentormatch.automation.tests.DashboardTests"/>
            <class name="com.mentormatch.automation.tests.ProfileTests"/>
            <class name="com.mentormatch.automation.tests.MentorTests"/>
            <class name="com.mentormatch.automation.tests.SessionTests"/>
            <class name="com.mentormatch.automation.tests.NotificationTests"/>
            <class name="com.mentormatch.automation.tests.ReviewTests"/>
            <class name="com.mentormatch.automation.tests.AdminTests"/>
        </classes>
    </test>

    <test name="Regression Suite">
        <groups>
            <run>
                <include name="regression"/>

            </run>
        </groups>
        <classes>
            <class name="com.mentormatch.automation.tests.AuthTests"/>
            <class name="com.mentormatch.automation.tests.DashboardTests"/>
            <class name="com.mentormatch.automation.tests.ProfileTests"/>
            <class name="com.mentormatch.automation.tests.MentorTests"/>
            <class name="com.mentormatch.automation.tests.SessionTests"/>
            <class name="com.mentormatch.automation.tests.NotificationTests"/>
            <class name="com.mentormatch.automation.tests.ReviewTests"/>
            <class name="com.mentormatch.automation.tests.AdminTests"/>
        </classes>
    </test>
</suite>
